#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
    <p>
        The WeatherTop application has been developed to WeatherTop Inc. in recording meteorological readings from the
        various weather stations around Ireland.<br>
        By inputting the latest readings as outlined within the application a display of current weather conditions
        within each station will be displayed for the user.
    </p>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Weather</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-label="Code">100</td>
            <td data-label="Weather">Clear</td>
        </tr>
        <tr>
            <td data-label="Code">200</td>
            <td data-label="Weather">Partial clouds</td>
        </tr>
        <tr>
            <td data-label="Code">300</td>
            <td data-label="Weather">Cloudy</td>

        </tr>
        <tr>
            <td data-label="Code">400</td>
            <td data-label="Weather">Light showers</td>

        </tr>
        <tr>
            <td data-label="Code">500</td>
            <td data-label="Weather">Heavy showers</td>

        </tr>
        <tr>
            <td data-label="Code">600</td>
            <td data-label="Weather">Rain</td>

        </tr>
        <tr>
            <td data-label="Code">700</td>
            <td data-label="Weather">Snow</td>

        </tr>
        <tr>
            <td data-label="Code">800</td>
            <td data-label="Weather">Thunder</td>

        </tr>
        </tbody>

</section>