#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
    <p>
        The WeatherTop application has been developed to WeatherTop Inc. in recording meteorological readings from the
        various weather stations around Ireland.<br>
        By inputting the latest readings as outlined within the application a display of current weather conditions
        within each station will be displayed for the user.
    </p>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Weather</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-label="Code">100</td>
            <td data-label="Weather">Clear</td>
        </tr>
        <tr>
            <td data-label="Code">200</td>
            <td data-label="Weather">Partial clouds</td>
        </tr>
        <tr>
            <td data-label="Code">300</td>
            <td data-label="Weather">Cloudy</td>

        </tr>
        <tr>
            <td data-label="Code">400</td>
            <td data-label="Weather">Light showers</td>

        </tr>
        <tr>
            <td data-label="Code">500</td>
            <td data-label="Weather">Heavy showers</td>

        </tr>
        <tr>
            <td data-label="Code">600</td>
            <td data-label="Weather">Rain</td>

        </tr>
        <tr>
            <td data-label="Code">700</td>
            <td data-label="Weather">Snow</td>

        </tr>
        <tr>
            <td data-label="Code">800</td>
            <td data-label="Weather">Thunder</td>

        </tr>
        </tbody>

        <p> Below are the Wind Direction Compass and Weather code tables. When readings are updated in a station the
            reading entered will correspond to the compass direction and the weather. </p>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Compass Direction</th>
                <th>Degree Range</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-label="Compass Direction">N</td>
                <td data-label="Degree Range">348.75 - 11.25</td>
            </tr>
            <tr>
                <td data-label="Compass Direction">NNE</td>
                <td data-label="Degree Range">11.25 - 33.75</td>
            </tr>
            <tr>
                <td data-label="Compass Direction">NE</td>
                <td data-label="Degree Range">33.75 - 56.25</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">ENE</td>
                <td data-label="Degree Range">56.25 - 78.75</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">E</td>
                <td data-label="Degree Range">78.75 - 101.25</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">ESE</td>
                <td data-label="Degree Range">101.25 - 123.75</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">SE</td>
                <td data-label="Degree Range">123.75 - 146.25</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">SSE</td>
                <td data-label="Degree Range">146.25 - 168.75</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">S</td>
                <td data-label="Degree Range">168.75 - 191.25</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">SSW</td>
                <td data-label="Degree Range">191.25 - 213.75</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">Sw</td>
                <td data-label="Degree Range">213.75 - 236.25</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">WSW</td>
                <td data-label="Degree Range">236.25 - 258.75</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">W</td>
                <td data-label="Degree Range">258.75 - 281.25</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">WNW</td>
                <td data-label="Degree Range">281.25 - 303.75</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">NW</td>
                <td data-label="Degree Range">303.75 - 326.25</td>

            </tr>
            <tr>
                <td data-label="Compass Direction">NNW</td>
                <td data-label="Degree Range">326.25 - 348.75</td>

            </tr>
            </tbody>
</section>