#{extends 'main.html' /}
#{set title:'Start' /}

#{menu id:"start"/}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to the Weather-Top app.
  </h1>
  <p>
    This application is to assist in the recording of weather readings from WeatherTop 1000.
    Please Signup or Login using the menu above.
  </p>
  <p>
    Please Signup or Login using the menu above. <i class="edit outline icon"></i>
  </p>
  <div class="column">
    <img class="ui image" src="/public/images/cloud.jpg">
  </div>
</section>

